@page

@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Game Code: @Model.GameCode</h3>

<div class="card" style="max-width: 25rem;">
    <img class="card-img-top" width="100%" src="~/images/Apu.png" alt="Player 1 Img">
    <div class="card-body">
        <h3 class="card-title">Player 1 Name</h3>
        <h4 class="card-text">Player 1 Quote</h4>
        <a href="#" class="btn btn-success">Ready</a>
    </div>
</div>

<div class="card" style="max-width: 25rem;">
    <img class="card-img-top" width="100%" src="~/images/Apu.png" alt="Player 1 Img">
    <div class="card-body">
        <h3 class="card-title">Player 2 Name</h3>
        <h4 class="card-text">Player 2 Quote</h4>
        <a href="#" class="btn btn-warning">Not Ready</a>
    </div>
</div>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Test</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>Test</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>Test</td>
        </tr>
    </tbody>
</table>


