@page
@model ContactModel
@{
    ViewData["Title"] = "Join Game";
}
<script>
    $()
</script>

<h2>@ViewData["Title"]</h2>
<div>
    <h3>Enter Game Code: </h3>
    
        <div class="form-group">
            <input type="text" class="form-control" id="gameCode" runat="server" placeholder="Enter Game Code Here!"/>
        </div>
        <a class="btn btn-primary" id="submit">Submit</a>
    

</div>

