@page
@model CreateProfileModel
@{
}

<h2>Create Profile</h2>

<form action="#">
    <div id="profileForm" class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name"><br><br>
        <label for="quote">Quote:</label>
        <input type="text" class="form-control" id="quote" name="quote"><br><br>

        <label for="image">Choose Icon:</label><br />
        <div id="stewie" class="card custom-control custom-radio custom-control-inline" style="max-width: 15%;">
            <img class="card-img-top" width="100%" src="~/images/Stewie_Griffin.png" alt="choice">
            <div class="card-body">
                <h3 class="card-title">Stewie Griffin</h3>
                <input type="radio" class="custom-control-input" name="character" id="radStewie"></input>
            </div>
        </div>
        <div id="apu" class="card custom-control custom-radio custom-control-inline" style="max-width: 15%; ">
            <img class="card-img-top" width="100%"  src="~/images/Apu.png" alt="choice">
            <div class="card-body">
                <h3 class="card-title">Apu</h3>
                <input type="radio" class="custom-control-input" name="character" id="radApu"></input>
            </div>
        </div>

        <div id="roger" class="card custom-control custom-radio custom-control-inline" style="max-width: 15%; ">
            <img class="card-img-top" width="100%" src="~/images/Roger_Smith.png" alt="choice">
            <div class="card-body">
                <h3 class="card-title">Roger Smith</h3>
                <input type="radio" class="custom-control-input" name="character" id="radRoger"></input>
            </div>
        </div>
        <br></br>
        <input type="submit" value="Submit">
    </div>
</form>

